<%= render @idea %>
<% if user_signed_in? %>
  <div class="d-flex gap-3 mb-3">
    <%= link_to "編集する", edit_idea_path(@idea), class: "btn btn-info" %>
    <%= button_to "削除する", @idea, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    <%= link_to "戻る", ideas_path, class: "btn btn-secondary" %>
  </div>
<% end %>
