<h1>🤩クイズ一覧</h1>
<h2>⭐️クイズには何度でも挑戦できますが、1回目の回答が理解度として報告されます。</h2>

<%= link_to '新規作成', new_quiz_question_path, class: 'btn btn-primary' %>

<ul>
  <% if @quiz_questions.present? %>
    <% @quiz_questions.each do |quiz_question| %>
      <li>
        <%= link_to quiz_question.question, quiz_question_path(quiz_question) %>
        <%= button_to '削除', quiz_question_path(quiz_question),
              method: :delete,
              data: { confirm: '本当に削除しますか？' },
              class: 'btn btn-danger btn-sm' %>
      </li>
    <% end %>
  <% else %>
    <li>クイズはまだ登録されていません。</li>
  <% end %>
</ul>
